# setup

In [1]:
import pandas as pd
import tqdm
import os
import numpy as np

In [66]:
input_file = 'RECORDS.txt'
root_dir = 'WFDB_ShaoxingUniv'
# table_file = 'a-large-scale-12-lead-electrocardiogram-database-for-arrhythmia-study-1.0.0/ConditionNames_SNOMED-CT.csv'
table_file = 'noduplicate.csv'

In [3]:
files = pd.read_csv(input_file, header=None).values.flatten()
folder = root_dir
n = len(files)
files

array(['JS00001', 'JS00002', 'JS00004', ..., 'JS45549', 'JS45550',
       'JS45551'], dtype=object)

# draft

In [4]:
for i, f in enumerate(tqdm.tqdm(files)):
    break
i, f

  0%|          | 0/45152 [00:00<?, ?it/s]

(0, 'JS00001')

In [5]:
with open(os.path.join(root_dir, f) + '.hea') as header:
    text = header.read()
    print(text[text.find('#Dx'):].split('#')[1])

Dx: 164889003,59118001,164934002

# loop

In [6]:
def get_row(exam_id, text):
    return [exam_id] + text[text.find('#Dx'):].split('#')[1][4:-1].split(',')

In [224]:
table = pd.read_csv(table_file)
columns = table['Acronym Name'].values

dicionario = {}
for idx, row in table.iterrows():
    label = row['Acronym Name']
    code = row['Snomed_CT']
    dicionario[code] = label

# table

In [217]:
def label2onehot(exam_id, text):
    onehot = [exam_id] + len(columns) * [False]
    labels = text[text.find('#Dx'):].split('#')[1][4:-1].split(',')
    for label in labels:
        if label == '55827005':
            label = '164873001' # https://bioportal.bioontology.org/ontologies/SNOMEDCT/?p=classes&conceptid=http%3A%2F%2Fpurl.bioontology.org%2Fontology%2FSNOMEDCT%2F164873001&jump_to_nav=true
        if label == '':
            continue
        if label == '251166008':
            label = '233896004' # https://www.findacode.com/snomed/251166008--av-nodal-re-entry-tachycardia.html
        if label == '713427006':
            label = '59118001' # https://bioportal.bioontology.org/ontologies/SNOMEDCT/?p=classes&conceptid=http%3A%2F%2Fpurl.bioontology.org%2Fontology%2FSNOMEDCT%2F713427006&jump_to_nav=true
        if label == '713426002':
            label = '59118001' # https://bioportal.bioontology.org/ontologies/SNOMEDCT/?p=classes&conceptid=http%3A%2F%2Fpurl.bioontology.org%2Fontology%2FSNOMEDCT%2F713426002&jump_to_nav=true
        if label == '55930002':
            label = '428750005' # https://bioportal.bioontology.org/ontologies/SNOMEDCT/?p=classes&conceptid=http%3A%2F%2Fpurl.bioontology.org%2Fontology%2FSNOMEDCT%2F713426002&jump_to_nav=true
        if label == '81898007':
            label = '75532003' # https://bioportal.bioontology.org/ontologies/SNOMEDCT/?p=classes&conceptid=http%3A%2F%2Fpurl.bioontology.org%2Fontology%2FSNOMEDCT%2F81898007&jump_to_nav=true
        if label == '427172004':
            label = '17338001' # https://bioportal.bioontology.org/ontologies/SNOMEDCT/?p=classes&conceptid=http%3A%2F%2Fpurl.bioontology.org%2Fontology%2FSNOMEDCT%2F427172004&jump_to_nav=true
        if label == '6180003':
            label = '164909002' # https://bioportal.bioontology.org/ontologies/SNOMEDCT/?p=classes&conceptid=http%3A%2F%2Fpurl.bioontology.org%2Fontology%2FSNOMEDCT%2F6180003&jump_to_nav=true
        if label == '106068003':
            label = '164889003' # https://bioportal.bioontology.org/ontologies/SNOMEDCT/?p=classes&conceptid=http%3A%2F%2Fpurl.bioontology.org%2Fontology%2FSNOMEDCT%2F106068003&jump_to_nav=true
        if label == '57054005':
            label = '164865005' # https://bioportal.bioontology.org/ontologies/SNOMEDCT/?p=classes&conceptid=http%3A%2F%2Fpurl.bioontology.org%2Fontology%2FSNOMEDCT%2F57054005&jump_to_nav=true
        if label == '426627000':
            label = '426177001' # https://bioportal.bioontology.org/ontologies/SNOMEDCT/?p=classes&conceptid=http%3A%2F%2Fpurl.bioontology.org%2Fontology%2FSNOMEDCT%2F57054005&jump_to_nav=true
        if label == '54329005':
            label = '164865005' # https://bioportal.bioontology.org/ontologies/SNOMEDCT/?p=classes&conceptid=http%3A%2F%2Fpurl.bioontology.org%2Fontology%2FSNOMEDCT%2F54329005&jump_to_nav=true
        if label == '426183003':
            label = '233917008' # https://bioportal.bioontology.org/ontologies/SNOMEDCT/?p=classes&conceptid=http%3A%2F%2Fpurl.bioontology.org%2Fontology%2FSNOMEDCT%2F426183003&jump_to_nav=true
        if label == '251120003':
            label = '164909002' # https://bioportal.bioontology.org/ontologies/SNOMEDCT/?p=classes&conceptid=http%3A%2F%2Fpurl.bioontology.org%2Fontology%2FSNOMEDCT%2F251120003&jump_to_nav=true
        if label == '233892002':
            label = '713422000' # https://bioportal.bioontology.org/ontologies/SNOMEDCT/?p=classes&conceptid=http%3A%2F%2Fpurl.bioontology.org%2Fontology%2FSNOMEDCT%2F233892002&jump_to_nav=true
        if label == '445211001':
            label = '164909002' # https://bioportal.bioontology.org/ontologies/SNOMEDCT/?p=classes&conceptid=http%3A%2F%2Fpurl.bioontology.org%2Fontology%2FSNOMEDCT%2F445211001&jump_to_nav=true
        if label == '67751000119106':
            label = '446358003' # https://bioportal.bioontology.org/ontologies/SNOMEDCT/?p=classes&conceptid=http%3A%2F%2Fpurl.bioontology.org%2Fontology%2FSNOMEDCT%2F67751000119106&jump_to_nav=true
        if label == '67741000119109':
            label = '446813000' # https://bioportal.bioontology.org/ontologies/SNOMEDCT/?p=classes&conceptid=http%3A%2F%2Fpurl.bioontology.org%2Fontology%2FSNOMEDCT%2F67741000119109&jump_to_nav=true
        code = dicionario[int(label)]
        onehot[np.where(code == columns)[0][0] + 1] = True
    return onehot

In [220]:
data = []
for f in tqdm.tqdm(files):
    exam_id = int(f[2:])
    with open(os.path.join(root_dir, f) + '.hea') as header:
        text = header.read()
        # data.append(text[text.find('#Dx'):].split('#')[1])
        # data.append(text[text.find('#Dx'):].split('#')[1][4:-1].split(','))
        # data.append(get_row(exam_id, text))
        data.append(label2onehot(exam_id, text))

100%|██████████| 45152/45152 [00:02<00:00, 22421.04it/s]

In [22]:
# columns = ['First_label', 'Second_label', 'Third_label', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven', 'twelve']

# df = pd.DataFrame(data, columns = columns)
# df

,First_label,Second_label,Third_label,four,five,six,seven,eight,nine,ten,eleven,twelve
0,164889003,59118001,164934002,None,None,None,None,None,None,None,None,None
1,426177001,164934002,None,None,None,None,None,None,None,None,None,None
2,426177001,None,None,None,None,None,None,None,None,None,None,None
3,164890007,429622005,428750005,None,None,None,None,None,None,None,None,None
4,426177001,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
45147,425856008,None,None,None,None,None,None,None,None,None,None,None
45148,425856008,None,None,None,None,None,None,None,None,None,None,None
45149,425856008,None,None,None,None,None,None,None,None,None,None,None
45150,233897008,425856008,None,None,None,None,None,None,None,None,None,None
45151,106068003,None,None,None,None,None,None,None,None,None,None,None

In [228]:
list(columns)

['1AVB',
 '2AVB',
 '2AVB1',
 '2AVB2',
 '3AVB',
 'ABI',
 'ALS',
 'APB',
 'AQW',
 'ARS',
 'AVB',
 'CCR',
 'CR',
 'ERV',
 'FQRS',
 'NSIVCB',
 'JEB',
 'JPT',
 'LBBB',
 'LVH',
 'LVQRSAL',
 'LVQRSCL',
 'LVQRSLL',
 'MI',
 'PRIE',
 'PWC',
 'QTIE',
 'RAH',
 'RBBB',
 'RVH',
 'STDD',
 'STE',
 'STTC',
 'STTU',
 'TWC',
 'TWO',
 'UW',
 'VB',
 'VEB',
 'VFW',
 'VPB',
 'VPE',
 'VET',
 'WAP',
 'WPW',
 'SB',
 'SR',
 'AFIB',
 'ST',
 'AF',
 'SA',
 'SVT',
 'AT',
 'AVNRT',
 'AVRT',
 'AA',
 'ER',
 'RfAP',
 'TPW',
 'BBB',
 'LAFB',
 'PVT',
 'AD',
 'CCVCL',
 'PPW',
 'AIVR',
 'VFIB',
 'VF',
 'SQTS',
 'SAB',
 'AEC',
 'BPAC',
 'SAr',
 'SPPB',
 'PTW',
 'JT',
 'BS',
 'AJR',
 'SPRS',
 'LAH']

In [229]:
dx = pd.DataFrame(data, columns = ['exam_id'] + list(columns))
dx

,exam_id,1AVB,2AVB,2AVB1,2AVB2,3AVB,ABI,ALS,APB,AQW,...,AEC,BPAC,SAr,SPPB,PTW,JT,BS,AJR,SPRS,LAH
0,1,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,4,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,5,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,6,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45147,45547,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
45148,45548,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
45149,45549,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
45150,45550,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
45151,45551,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [230]:
# dx.to_csv('dx.csv', index = None)
dx.to_csv('metadata.csv', index = None)